<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smartschool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Smartschool.Properties.Settings>
            <setting name="Smartschool_SS_V3Service" serializeAs="String">
                <value>https://sanctamaria-aarschot.smartschool.be/Webservices/V3</value>
            </setting>
        </Smartschool.Properties.Settings>
    </applicationSettings>
</configuration>