<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SchoolAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <SchoolAdmin.Properties.Settings>
            <setting name="SmartschoolURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolTestAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WisaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaActiveSchools" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolStudents" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolUseGrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartschoolUseYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartschoolGrade1" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolGrade2" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolGrade3" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear1" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear2" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear3" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear4" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear5" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear6" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear7" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleAppName" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleAdminUser" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleSecretID" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleTokenURI" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapHost" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LdapAdminDN" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapBaseDN" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapAccountOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ADAccountPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ADGroupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ADStudentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ADStaffPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ADAzureDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ADTeacherOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADSupportOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDirectorsOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADAdminsOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADOthersOU" serializeAs="String">
                <value />
            </setting>
            <setting name="ADGroupGrades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADGroupYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADNameGrade1" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameGrade2" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameGrade3" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear1" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear2" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear3" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear4" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear5" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear6" serializeAs="String">
                <value />
            </setting>
            <setting name="ADNameYear7" serializeAs="String">
                <value />
            </setting>
        </SchoolAdmin.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>