<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <SchoolAdmin.Properties.Settings>
            <setting name="SmartschoolURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolTestAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaURL" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WisaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WisaActiveSchools" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolStudents" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolStaff" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolUseGrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartschoolUseYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartschoolGrade1" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolGrade2" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolGrade3" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear1" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear2" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear3" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear4" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear5" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear6" serializeAs="String">
                <value />
            </setting>
            <setting name="SmartschoolYear7" serializeAs="String">
                <value />
            </setting>
        </SchoolAdmin.Properties.Settings>
    </userSettings>
</configuration>